---
http_interactions:
- request:
    method: get
    uri: http://www.apilayer.net/historical?access_key=949c992084ee17132e0efde5dcc0e6f0&currencies=USD%2CBRL%2CEUR%2CAUD&date=2019-02-09&source=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - 7b00807a-f129-4de1-b735-7cfc84e00017
      Last-Modified:
      - Sat, 09 Feb 2019 08:12:07 GMT
      Etag:
      - 16129fe57177efd28d7534564469fd9c
      X-Request-Time:
      - '0.023'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"terms":"https:\/\/currencylayer.com\/terms","privacy":"https:\/\/currencylayer.com\/privacy","historical":true,"date":"2019-02-09","timestamp":1549699927,"source":"USD","quotes":{"USDUSD":1,"USDBRL":3.730104,"USDEUR":0.882185,"USDAUD":1.405704}}'
  recorded_at: Sat, 09 Feb 2019 08:13:00 GMT
recorded_with: VCR 4.0.0
