---
http_interactions:
- request:
    method: get
    uri: http://www.apilayer.net/historical?access_key=949c992084ee17132e0efde5dcc0e6f0&currencies=USD%2CBRL%2CEUR%2CAUD&date=2019-02-08&source=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - 5279cca1-d45a-406d-bc02-5873ecd858cc
      Last-Modified:
      - Fri, 08 Feb 2019 23:59:59 GMT
      Etag:
      - 2e5f513a2fe894644a9db84565b38780
      X-Request-Time:
      - '0.018'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"terms":"https:\/\/currencylayer.com\/terms","privacy":"https:\/\/currencylayer.com\/privacy","historical":true,"date":"2019-02-08","timestamp":1549670399,"source":"USD","quotes":{"USDUSD":1,"USDBRL":3.730104,"USDEUR":0.882185,"USDAUD":1.405704}}'
  recorded_at: Sat, 09 Feb 2019 08:13:00 GMT
recorded_with: VCR 4.0.0
